Minimum Requirements for Class Project:

1) User Interface Design
2) Database Design
3) Connection between frontend user interface and backend database

[ ] Browse Similar Apps
[ ] Fill project description template
[ ] Submit template
[X] Create google meet / chat
[ ] 



We will be developing an app for a bank.

What will the app be used for?
Who will use it?
What tasks will the app host (the bank) be required to do?
What data will we store? For whom and where?


### For the Project Description:

	User Type	|	Developed By
----------------+------------------
Public			|
Account Holder	|
Clerk			|
Administrator	|
Maintenence		|


###Functionalities:

Public


Account Holder


Clerk


Admin


Maintenence



### Project Construction

Language: 
Database: 
Host: 