Minimum Requirements for Class Project:

1) User Interface Design
2) Database Design
3) Connection between frontend user interface and backend database

[ ] Browse Similar Apps
[ ] Fill project description template
[ ] Submit template
[X] Create google meet / chat
[ ] 




We will be developing an app for a bank.

What will the app be used for?
Who will use it?
What tasks will the app host (the bank) be required to do?
What data will we store? For whom and where?


### For the Project Description:

	User Type	|	Developed By
----------------+------------------
Public			|	Oliver
Account Holder	|	Guadalupe
Clerk			|	Oliver
Administrator	|	Terri
Maintenance		|	Terri


###Functionalities:

Public
  Functionality
    Apply for account
  Data

Account Holder
  Functionality
    View account histories
	View account balances
	Make or recieve direct payments (to others & to the bank)
	View loans (and their interest rates)
  Data
    Checking Account
	  Current Balance
	  Current Availability
	  List of transactions
	Savings Acccount
	  Current Balance
	  Current Availability
	  List of transactions
	Loans
	  Loan balances
	  Loan interest
	  Loan minimum payment
	  Loan payment due date
	Credit Cards
	  Card numbers and associated account
	Personal Information
	  First Name
	  Last Name
	  Phone
	  Email
	  Address

Clerk
  Functionality
    Access to staff portal
  Data
    Login credentials
    Staff ID
	fName
	lName
	Birthday
	Gender
	hire date


Admin
  Functionality
    All clerk functionality
    Manage user accounts (Clerks & Holders)
      Approve and remove holders
    Halt transactions
    Push transactions
    View summary stats
  Data
    Login credentials
  
Maintenence
  Functionality
    Reset Systems
    Access database summary
  Data
    Login credentials


### Project Construction

Language: 
Database: 
Host: 